.paginaPrincipal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px; 
    background: #5DA2BD;
}

.paginaPrincipal-barra{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.paginaPrincipal-logo a {
    text-decoration: none;
    font-size: 1.7rem;
    color: white;
}

.espacio{
    flex: 1;
}

.paginaPrincipal-navigation-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.paginaPrincipal-navigation-items li{
    padding: 0 0.5rem;
}

.paginaPrincipal-navigation-items a{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.paginaPrincipal-navigation-items a:hover,
.paginaPrincipal-navigation-items a:active{
    color: black;
}

.boton-barra{
    background: none;
    width: 80px;
    height: auto;
}

.imagen{
    margin-top: 54px;
    width: 100%;
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.boton-estilo{
    font-weight: 600;
    font-size:20px;
    width: 250px;
    height: 50px;
    background: #5DA2BD;
    border-radius: 30px;
    border: 1px solid #FFFDFD;
    box-sizing: border-box;
}

.center {
    text-align: center;
}  

.imagen-computadora{
    margin-top: 102px;
    max-width: 100%;
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.imagen-primera{
    position: absolute;
    left: 25%;
	height:auto;
    margin-left:auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    float: left;
}

.imagen-segunda{
    position: absolute;
    right: 25%;
	height:auto;
    margin-left:auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    float: right;
}

.imagen-notas{
    position: absolute;
    left: 25.5%;
	height:auto;
    margin-left:auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    float: left;
}

.rectangulo-primeraParte{
    width: 100%;
    max-width: 100%;
    height: 620px;
    left: 0px;

    background: #c7c7c75b;
}

ul {
    text-align: left;
    display:inline-block;   
    list-style: none;
    padding: 0px;
    margin-left: 10px;
    }
    
    ul li::before {
    content: "\2022";  
    color: #5DA2BD; 
    display: inline-block; 
    padding-right: 10px;
    font-size: 50px;
    line-height: 25px;
    vertical-align: -11px;
    width: 15px;
    }

    .rectangulo-segundaParte{
        width: 50%;
        max-width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    
        background: #c7c7c75b;
    }

    .boton-estilo-final{
        color: white;
        font-weight: 600;
        font-size:20px;
        width: 350px;
        height: 60px;
        background: #5DA2BD;
        border-radius: 30px;
        border: 1px solid #FFFDFD;
        box-sizing: border-box;
    }